<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqqkmUJe89lmw5eVct7-w260gDrkTvExQ</string>
	<key>GCM_SENDER_ID</key>
	<string>15331652531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nwmissouri.summer24.cs44691sec02.Onlineexchange.Online-Exchange</string>
	<key>PROJECT_ID</key>
	<string>online-exchange-6c061</string>
	<key>STORAGE_BUCKET</key>
	<string>online-exchange-6c061.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15331652531:ios:d44b37669d2e92588f51c6</string>
</dict>
</plist>